PORT=8080
CONTRACT_ADDRESS=CCXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TREASURY_CONTRACT_ADDRESS=CCYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY
BACKEND_WALLET_PUBLIC=GBACKENDPUBLICKEYEXAMPLE
BACKEND_WALLET_SECRET=SBACKENDSECRETEXAMPLE
NETWORK_PASSPHRASE=Test SDF Network ; September 2015
RPC_URL=https://soroban-testnet.stellar.org
REQUEST_COST_STROOPS=100
